.result {
    width: 100%;
}

.result__heading {
    color: #30455C;
    font-size: 35px;
    font-weight: 600;
}

.result__text {
    color: #5E6E80;
    font-size: 16px;
    margin: 0;
}

.result__container {
    margin: 22px auto;
    width: 328px;
    height: auto;
    background-color: #F5F7FA;
    border-radius: 16px;
    padding: 16px 0;
}

.result__title {
    color: #30455C;
    font-size: 22px;
    font-weight: 600;
    margin: 5px 0;
}

.result__percent {
    color: #2989E9;
    font-size: 89px;
    font-weight: 600;
    margin: 0;
}

.result__percent span {
    font-size: 46px;
}

.result__container .result__text {
    margin: 0 24px;
}

.result__sky {
    width: 272px;
    height: 184px;
    margin: 23px auto;
}

.result__ball {
    width: 250px;
    height: 184px;
    margin: 23px auto 0px;
}

.result__zodiac-wrapper {
    display: flex;
    margin: 24px auto 0;
    width: 280px;
    justify-content: space-between;
}
.title-zodiac{
    margin: 0 24px;
}
.result__zodiac {
    width: 136px;
    height: 112px;
    background-color: #EDF1F5;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.result__zodiac-img {
    margin: 24px auto 12px;
}

.result__zodiac-text {
    color: #2989E9;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto 12px;
}

.text-left {
    text-align: left;
}

.text-blue {
    margin: 0 !important;
    color: #2989E9;
}

.result__container-two {
    margin: 0 16px;
    padding: 10px 0 10px 16px;
    border-left: 2px solid #2989E9;
}

.result__container-two .result__title,
.result__container-two .result__text {
    margin: 0;
}

.text-italic {
    font-style: italic;
}

.text-blod {
    font-weight: 600;
}

.text-small {
    font-size: 14px;
}

.result__tree {
    width: 230px;
    height: 184px;
    margin: 16px auto;
}

.result__tree+.result__text {
    margin: 0 18px;
}

.text-red {
    color: #F06C4D;
}

.result__brench {
    width: 328px;
    height: 170px;
    margin: 16px auto;
}

.result__btn {
    margin: 28px auto 49px !important;
}

.result__wrapper {
    margin: 0 16px;
}


.text-get {
    font-weight: 600;
    text-align: left;
    margin: 24px 0 10px;
}

.result__choice {
    margin: auto 10px auto 0px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    background-color: #2989E91A;
    border: 1px solid #2989E926;
    color: #2989E9;
    font-size: 10px;
    line-height: 24px;
}

td {
    text-align: left;
}

td .result__text {
    margin: 0;
    font-size: 14px;
}

table {
    margin: 0 auto 30px auto;
}


.result__heart {
    width: 64px;
    height: 64px;
}

.result__free {
    width: 64px;
    height: 57px;
}

.result__container-white {
    width: 296px;
    height: 104px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #D8DFE6;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 10px auto 10px;
}

.result__container-white p {
    margin: 0 !important;
}

.result__bonus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-strikethrough {
    text-decoration: line-through;
    font-size: 14px;
}

.text-green {
    color: #34983F;
    font-size: 20px;
}

.bonus-title {
    margin: 0;
}

.result__pay {
    margin: 20px auto;
}

.result__pay img {
    margin: 5px;
}

.result__guarantee-wrapper {
    box-shadow: 0px 2px 8px #091E3C29;
    border-radius: 16px;
    margin: 0 auto 15px auto;
    width: 328px;
    padding: 8px;

}

.result__guarantee {
    border: 2px solid #2989E9;
    border-radius: 12px;
    position: relative;
}

.result__guarantee h2 {
    margin: 25px 16px 10px 16px;
}

.result__guarantee p {
    margin: 0 16px 21px 16px;
}

.result__guarantee::after {
    content: "";
    width: 43px;
    height: 55px;
    background-image: url(../../img/medal.png);
    position: absolute;
    right: 24px;
    bottom: -38px;
}

